body {
  font: 14px/18px sans-serif;
}

ul.active {
  list-style: none;
  margin: 20px auto;
  visibility: visible;
  width: 900px;
}

#connect-button {
  background: none;
  border: 0;
  outline: none;
}

#connect-button img {
  height: 21px;
  width: 189px;
}

#connect-button:hover {
  opacity: .8;
}

.with-sc-player:hover {
  background-color: #ffffff;
  cursor: default;
  pointer-events: none;
}

iframe {
  /* the iframe is within the player list item, so we have to reenable pointer-events */
  pointer-events: auto;
}

li {
  border-left: solid 1px #f0f0f0;
  border-right: solid 1px #f0f0f0;
  border-top: solid 1px #f0f0f0;
  height: 50px;
  padding: 10px;
  width: 100%;
}

li:hover {
  background-color: #fd6503;
  cursor: pointer;
}

li:first-child {
  border-radius: 3px 3px 0 0;
}

li:last-child {
  border-bottom: solid 1px #f0f0f0;
  border-radius: 0 0 3px 3px;
}

h3 {
  display: inline-block;
  margin: auto 0;
}

li img {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}